*.zip
*.json
solved_error/
*.txt
!predictions.txt
!validations.txt
!requirements.txt
!factor_vocab0.txt
!factor_vocab1.txt
!trg_vocab.txt
!src_vocab.txt
*.csv
*.model
*.vocab
file_comparison/spm.model
file_comparison/spm.model
*.hyps
*.latest
*.ckpt
!*.best
*.log
!AulSign.log
